
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap');



* {
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.section{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-component{
    width:288px;
    height: auto;
    padding: 15px 15px;
    border: 0px solid black;
    border-radius: 15px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

img{
    width: 100%;
    width:288px;
    height: 288px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

h4 {
    font-size: 22px;
    font-family: "Outfit", serif;
    font-weight: 700;
    color: black;
    text-align: center;
    padding: 10px 10px;

}

p{
    font-size: 15px;
    font-family: "Outfit", serif;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
}